
@model ControlIDMvc.Dtos.PlanCuentaGrupo.PlanCuentaListaDto
@{

    ViewData["Title"] = "ListaPlanDeCuentas";
    Layout="_Layout";
}
<div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>PLAN DE CUENTAS</h3>
                        </div>
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <form class="form-horizontal form-label-left">
                                                <div class="form-group row ">
                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                    <div class="col-md-2 col-sm-2 ">
                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                    </div>
                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:right">Nombre de la Cuenta</label>
                                                    <div class="col-md-2 col-sm-2 ">
                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                    </div>
                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                    <div class="col-md-2 col-sm-2 ">
                                                        <select class="form-control" style="font-size:small">
                                                            <option>Grupo</option>
                                                            <option>Rubro</option>
                                                            <option>Titulo</option>
                                                            <option>Compuesta</option>
                                                            <option>SubCuenta</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <button type="button" class="btn btn-primary" id="open_modal_grupo" style="font-size:small">Crear GRUPO</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-box table-responsive">
                                            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </th>
                                                        <th>Codigo</th>
                                                        <th>Nombre de la Cuenta</th>
                                                        <th>Moneda</th>
                                                        <th>Valor</th>
                                                        <th>Nivel</th>
                                                        <th>CRUD</th>
                                                        <th>Usuarios</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    
                                                    @foreach (var planCuentaGrupo in Model.planCuentaGrupos)
                                                        {
                                                        <tr>
                                                            <td>
                                                            <th><input type="checkbox" id="check-all"></th>
                                                            </td>
                                                            <td>@planCuentaGrupo.Codigo</td>
                                                            <td>@planCuentaGrupo.NombreCuenta</td>
                                                            <td>@planCuentaGrupo.Moneda</td>
                                                            <td>@planCuentaGrupo.Valor</td>
                                                            <td>@planCuentaGrupo.Nivel</td> 
                                                            <td>
                                                                <a class="glyphicon open_modal_rubro" role="button" data-id="@planCuentaGrupo.Id" ><i style="color:orange" class="glyphicon glyphicon-pencil"  title="Editar"></i></a>
                                                                &nbsp;
                                                                <a class="glyphicon open_modal_rubro" role="button" data-id="@planCuentaGrupo.Id" ><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Crear"></i></a>
                                                            </td>
                                                            <td>U1 U2 U3</td>
                                                        </tr>
                                                        }
                                                    
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1</td>
                                                        <td>Activos</td>
                                                        <td></td>
                                                        <td>1</td>
                                                        <td>Grupo</td>
                                                        <td>
                                                            <!-- Large modal -->
                                                            <a class="glyphicon" role="button" id="open_modal_rubro1"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            &nbsp;
                                                            <a class="glyphicon"  role="button" id="open_modal_rubro1"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Crear"></i></a>
                                                        </td>
                                                        <td>U1 U2 U3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1</td>
                                                        <td>Activo Corriente</td>
                                                        <td></td>
                                                        <td>1</td>
                                                        <td>Rubro</td>
                                                        <td>
                                                            <a class="glyphicon" role="button" id="open_modal_titulo"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            &nbsp;
                                                            <a class="glyphicon" role="button" id="open_modal_titulo"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Editar"></i></a>
                                                        </td>
                                                        <td>U1 U2 U3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1 01</td>
                                                        <td>Disponibilidades</td>
                                                        <td></td>
                                                        <td>1</td>
                                                        <td>Titulo</td>
                                                        <td>
                                                            <a class="glyphicon" role="button" id="open_modal_compuesta"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            &nbsp;
                                                            <a class="glyphicon" role="button" id="open_modal_compuesta"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Editar"></i></a>
                                                        </td>
                                                        <td>$86,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1 01 01</td>
                                                        <td>Billetes y Monedas</td>
                                                        <td></td>
                                                        <td>1</td>
                                                        <td>Compuesta</td>
                                                        <td>
                                                            <a class="glyphicon" role="button" id="open_modal_subcuenta"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            &nbsp;
                                                            <a class="glyphicon" role="button" id="open_modal_subcuenta"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Editar"></i></a>
                                                        </td>
                                                        <td>$433,060</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1 01 01 0001</td>
                                                        <td>Efectivo</td>
                                                        <td>Bs.</td>
                                                        <td>1</td>
                                                        <td>SubCuenta</td>
                                                        <td>
                                                            <a class="glyphicon" role="button" id="open_modal_subcuenta"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                        </td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1 01 01 0001</td>
                                                        <td>Credito Fiscal</td>
                                                        <td>Bs.</td>
                                                        <td>0.13</td>
                                                        <td>SubCuenta</td>
                                                        <td>
                                                            <a class="glyphicon" Srole="button" id="open_modal_subcuenta"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                        </td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
<!-- Modal Crear Grupo --->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modal_grupo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">GRUPO</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" id="form_grupo">
                    <div class="form-group row ">
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Codigo Input" name="codigo" style="font-size:small">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                        <div class="col-md-3 col-sm-3 ">
                            <input type="text" class="form-control" placeholder="Cuenta Nombre" name="nombre"  style="font-size:small">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" name="nivel" value="Grupo" placeholder="Grupo" readonly style="font-size:small">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:small">CERRAR</button>
                <button type="button" class="btn btn-success" id="guardar_grupo" style="font-size:small">GUARDAR</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal crear Rubro -->
<div class="modal fade modal-edit-rubro" tabindex="-1" role="dialog" aria-hidden="true" id="modal_rubro">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">RUBRO</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-label-right" id="form_rubro">
                        <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <label class="control-label col-md-3 col-sm-3 codigo-grupo" style="text-align:left"></label>
                        </div>
                            <label class="control-label col-md-3 col-sm-3 nombre-grupo" style="text-align:left"></label>
                            <label class="control-label col-md-2 col-sm-2 nivel-grupo" style="text-align:Center"></label>
                        </div>
                        <br>
                        <div class="form-group row ">
                        <input type="text" class="id-grupo" name="PlanCuentaGrupoId" hidden>
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small" name="codigo">
                            </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                        <div class="col-md-3 col-sm-3 ">
                            <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small" name="nombre">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Rubro" readonly name="nivel" value="Rubro" style="font-size:small">
                        </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:small">CERRAR</button>
                    <button type="button" class="btn btn-success" style="font-size:small" id="guardar_rubro">GUARDAR</button>
                </div>
            </div>
</div>
</div>
<!-- Modal Crear Titulo -->
<div class="modal fade modal-edit-titulo" tabindex="-1" role="dialog" aria-hidden="true" id="modal_titulo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">TITULO</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-right" id="form_titulo">
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaGrupoId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="11" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaRubroId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small" name="codigo">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                        <div class="col-md-3 col-sm-3 ">
                            <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small" name="nombre">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Titulo" readonly style="font-size:small" name="nivel" value="Titulo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:small">CERRAR</button>
                <button type="button" class="btn btn-success" style="font-size:small"id="guardar_titulo">GUARDAR</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Crear Compuesta -->
<div class="modal fade modal-edit-Compuesta" tabindex="-1" role="dialog" aria-hidden="true" id="modal_compuesta">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">COMPUESTA</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-right" id="form_compuesta">
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaGrupoId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaRubroId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaTituloId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Disponibilidades</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Titulo</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small" name="codigo">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                        <div class="col-md-3 col-sm-3 ">
                            <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small" name="nombre">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Compuesta" readonly style="font-size:small" name="nivel" value="Compuesta">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:small">CERRAR</button>
                <button type="button" class="btn btn-success" style="font-size:small" id="guardar_compuesta">GUARDAR</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Crear SubCuenta -->
<div class="modal fade modal-edit-SubCuenta" tabindex="-1" role="dialog" aria-hidden="true" id="modal_subcuenta">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">SUB CUENTA</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-right" id="form_subcuenta">
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaGrupoId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaRubroId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaTituloId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Disponibilidades</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Titulo</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <div class="col-md-1 col-sm-1">
                            <input type="text" class="form-control" value="1" placeholder="Codigo Input" style="font-size:small" name="PlanCuentaCompuestaId">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Billetes y Monedas</label>
                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Compuesta</label>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small" name="codigo">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                        <div class="col-md-3 col-sm-3 ">
                            <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small" name="nombre">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                        <div class="col-md-2 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Sub Cuenta" readonly style="font-size:small" name="nivel" value="SubCuenta">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Moneda</label>
                        <div class="col-md-2 col-sm-2 ">
                            <select class="form-control" style="font-size:small" name="moneda">
                                <option>Bolivianos</option>
                                <option>Dolares</option>
                                <option>Euros</option>
                            </select>
                        </div>
                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">%</label>
                        <div class="col-md-3 col-sm-3 ">
                            <input type="text" class="form-control" placeholder="1" style="font-size:small" name="valor">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:small">CERRAR</button>
                <button type="button" class="btn btn-success" style="font-size:small" id="guardar_subcuenta">GUARDAR</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<!-- Datatables -->
<script src="~/assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="~/js/plancuentas/PlanCuentaGrupo.js"></script>
<script src="~/js/plancuentas/PlanCuentaRubro.js"></script>
<script src="~/js/plancuentas/PlanCuentaTitulo.js"></script>
<script src="~/js/plancuentas/PlanCuentaCompuesta.js"></script>
<script src="~/js/plancuentas/PlanCuentaSubCuenta.js"></script>

}
