@model ControlIDMvc.Dtos.Horario.HorarioDto
@{
    ViewData["Title"] = "Editar Horario";
    var checkLunes=Model.lunes != null ? "checked" : "";
    var checkMartes=Model.martes != null ? "checked" : "";
    var checkMiercoles=Model.miercoles != null ? "checked" : "";
    var checkJueves=Model.jueves != null ? "checked" : "";
    var checkViernes=Model.viernes != null ? "checked" : "";
    var checkSabado=Model.sabado != null ? "checked" : "";
    var checkDomingo=Model.domingo != null ? "checked" : "";

    var disabledLunes=Model.lunes != null ? "" : "disabled";
    var disabledMartes=Model.martes != null ? "" : "disabled";
    var disabledMiercoles=Model.miercoles != null ? "" : "disabled";
    var disabledJueves=Model.jueves != null ? "" : "disabled";
    var disabledViernes=Model.viernes != null ? "" : "disabled";
    var disabledSabado=Model.sabado != null ? "" : "disabled";
    var disabledDomingo=Model.domingo != null ? "" : "disabled";
}
@section Estilos {
<link href="~/assets/vendors/normalize-css/normalize.css" rel="stylesheet">
<link href="~/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
<link href="~/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
              <h3><span class="text-danger">@ViewData["ErrorConexion"]</span></h3>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nuevo Horario</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Registro de horario<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Update" asp-route-id="@Model.Id" method="post" asp-antiforgery="true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="nombre">Nombre
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="nombre" name="nombre" value="@Model.Nombre"
                                                class="form-control" name="nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align"
                                            for="descripcion">Descripcion
                                            <span class="descripcion">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="descripcion" name="descripcion" value="@Model.Descripcion"
                                                class="form-control  ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="lunes" value="@Model.lunes" data-value="lunes" id="lunes" @checkLunes />
                                                Lunes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_lunes" value="ion_lunes" name="ion_lunes" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio" id="hora_inicio_lunes" class="form-control hora_inicio" 
                                                    name="hora_inicio_lunes" value='@Model.hora_inicio_lunes.ToString("HH:mm")' @disabledLunes>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_lunes" id="hora_fin_lunes" class="form-control hora_fin"
                                                    name="hora_fin_lunes" value='@Model.hora_fin_lunes.ToString("HH:mm")' @disabledLunes>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col"> 
                                                <input type="checkbox" class="check" name="martes" value="@Model.martes" data-value="martes" @checkMartes />
                                                Martes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer "></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_martes" value="ion_martes" name="ion_martes" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_martes" id="hora_inicio_martes" class="form-control hora_inicio"
                                                    name="hora_inicio_martes"  value='@Model.hora_inicio_martes.ToString("HH:mm")' @disabledMartes>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_martes" id="hora_fin_martes" class="form-control hora_fin"
                                                    name="hora_fin_martes"  value='@Model.hora_fin_martes.ToString("HH:mm")' @disabledMartes>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="miercoles" value="@Model.miercoles" data-value="miercoles" @checkMiercoles />
                                                Miercoles
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer "></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_miercoles" value="ion_miercoles" name="ion_miercoles"/>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_miercoles" id="hora_inicio_miercoles" class="form-control hora_inicio"
                                                    name="hora_inicio_miercoles" value='@Model.hora_inicio_miercoles.ToString("HH:mm")' @disabledMiercoles>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_miercoles"  id="hora_fin_miercoles" class="form-control hora_fin"
                                                    name="hora_fin_miercoles" value='@Model.hora_fin_miercoles.ToString("HH:mm")' @disabledMiercoles>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="jueves" value="@Model.jueves" data-value="jueves" @checkJueves/>
                                                Jueves
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_jueves" value="" name="ion_jueves" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_jueves" id="hora_inicio_jueves" class="form-control hora_inicio"
                                                    name="hora_inicio_jueves" value='@Model.hora_inicio_jueves.ToString("HH:mm")' @disabledJueves >
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_jueves" id="hora_fin_jueves" class="form-control hora_fin"
                                                    name="hora_fin_jueves"  value='@Model.hora_fin_jueves.ToString("HH:mm")' @disabledJueves>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="viernes" value="@Model.viernes" data-value="viernes" @checkViernes />
                                                Viernes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_viernes" value="" name="ion_viernes_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_viernes" id="hora_inicio_viernes" class="form-control hora_inicio"
                                                    name="hora_inicio_viernes" value='@Model.hora_inicio_viernes.ToString("HH:mm")' @disabledViernes>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_viernes" id="hora_fin_viernes" class="form-control hora_fin"
                                                    name="hora_fin_viernes" value='@Model.hora_fin_viernes.ToString("HH:mm")' @disabledViernes>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="sabado" value="@Model.sabado" data-value="sabado" @checkSabado />
                                                Sabado
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_sabado" value="" name="sabado_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio" id="hora_inicio_sabado" class="form-control hora_inicio"
                                                    name="hora_inicio_sabado" value='@Model.hora_inicio_sabado.ToString("HH:mm")' @disabledSabado>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin" id="hora_fin_sabado" class="form-control hora_fin"
                                                    name="hora_fin_sabado" value='@Model.hora_fin_sabado.ToString("HH:mm")' @disabledSabado>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="domingo" value="@Model.domingo" data-value="domingo" @checkDomingo />
                                                Domingo
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_domingo" value="" name="domingo_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9"> 
                                                <input type="time" required="hora_inicio_domingo" class="form-control hora_inicio" id="hora_inicio_domingo"
                                                    name="hora_inicio_domingo" value='@Model.hora_inicio_domingo.ToString("HH:mm")' @disabledDomingo>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_domingo" class="form-control hora_fin" id="hora_fin_domingo"
                                                    name="hora_fin_domingo" value='@Model.hora_fin_domingo.ToString("HH:mm")' @disabledDomingo>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-3">
                                            <button class="btn btn-primary" type="button">Cancelar</button>
                                            <button class="btn btn-primary" type="reset">Reset</button>
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script src="~/assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="~/js/horario/create.js"></script>
<script>
    function init_IonRangeSlider() {
        $("#lunes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#martes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#miercoles").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#jueves").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#viernes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#sabado").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#domingo").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
    }
</script>
<script>
    $(document).on('click', '.check', function () {
        if ($(this).is(':checked')) {
            $(this).parent().parent().next().next().find("div").find("input").prop("disabled", false);
            $(this).parent().parent().next().next().next().find("div").find("input").prop("disabled", false);
            $(this).val($(this).data('value')); 
        }
        else {
            $(this).parent().parent().next().next().find("div").find("input").prop("disabled", true);
            $(this).parent().parent().next().next().next().find("div").find("input").prop("disabled", true);
            $(this).val('');
        }
    });
</script>
}