@model ControlIDMvc.Dtos.Inscripcion.InscripcionCreateDto
@{
    ViewData["Title"] = "Crear Inscripcion";
    string format = "yyyy/MM/dd";
    var now = DateTime.Now.ToString(format);
    /*paquetes*/
    var paquetes = ViewData["paquetes"] as List<ControlIDMvc.Dtos.Paquete.PaqueteDto>;
    var personas = ViewData["personas"] as List<ControlIDMvc.Dtos.PersonaDto>;
}
@section Estilos {
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><span class="text-danger">@ViewData["ErrorConexion"]</span></h3>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nueva Inscripcion</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Informacion general<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Store" asp-antiforgery="true" id="formulario_inscripcion"
                            enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <input type="text" id="PersonaId" name="PersonaId" class="form-control" hidden>
                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3"
                                                for="FechaCreacion">Fecha<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="FechaCreacion" id="FechaCreacion"
                                                    class="form-control" placeholder="" value="@now" readonly>
                                                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="Buscar">Buscar por CI<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" id="Buscar" name="Buscar" class="form-control"
                                                    placeholder="Buscar Cliente">
                                            </div>
                                             <div class="col-md-3 col-sm-3">
                                                <button type="button" class="btn btn-success"
                                                    id="buscar_cliente">Buscar</button>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="CI">CI*
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="CI" id="CI" class="form-control"
                                                    placeholder="CI" readonly>
                                                <span asp-validation-for="CI" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="Cliente">Nombres*
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="Nombres" id="Nombres" class="form-control"
                                                    placeholder="Nombres" readonly>
                                                <span asp-validation-for="Nombres" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="Apellidos">Apellidos*
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="Apellidos" id="Apellidos" class="form-control"
                                                    placeholder="Apellidos" readonly>
                                                <span asp-validation-for="Apellidos" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="FechaInicio">Fecha
                                                Inicio
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="FechaInicio" id="FechaInicio"
                                                    class="form-control" placeholder="Fecha Inicio" readonly
                                                    asp-for="FechaInicio">
                                                <span asp-validation-for="FechaInicio" class="text-danger"></span>

                                                <input type="text" name="FechaInicioCliente" id="FechaInicioCliente"
                                                    class="form-control" placeholder="Fecha Inicio" hidden>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="NumeroRecibo">NumeroRecibo<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="NumeroRecibo" id="NumeroRecibo" class="form-control"
                                                    placeholder="" value='@ViewData["numeroRecibo"]' readonly>
                                                <span asp-validation-for="NumeroRecibo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="Costo">Costo<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="Costo" id="Costo" class="form-control"
                                                    placeholder="" readonly>
                                                <span asp-validation-for="Costo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="Costo">Dias de
                                                duracion<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="Dias" id="Dias" class="form-control"
                                                    placeholder="Dias de duracion" readonly>
                                                <span asp-validation-for="Dias" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="Costo">Paquete<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <select class="form-control" id="PaqueteId" name="PaqueteId" disabled>
                                                    <option value="">Seleccione Paquete</option>
                                                    @foreach (var paquete in paquetes)
                                                    {
                                                        <option value="@paquete.Id" data-costo="@paquete.Costo"
                                                        data-dias="@paquete.Dias">@paquete.Nombre</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="PaqueteId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3" for="FechaFin">Fecha
                                                Fin<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" name="FechaFin" id="FechaFin" class="form-control"
                                                    placeholder="Fecha Fin" readonly asp-for="FechaFin">
                                                <input type="text" name="FechaFinCliente" id="FechaFinCliente"
                                                    class="form-control" placeholder="Fecha Inicio" hidden>
                                                <span asp-validation-for="FechaFin" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary" type="button">Cancelar</button>
                                    <button type="submit" class="btn btn-success"id="guardar_inscripcion">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Large usuario -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modal_buscar_cliente">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Resultado de Busqueda</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="x_panel">
                        <div class="x_content" id="contenido">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="open_modal_usuario">Crear Usuario</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Large crear usuario -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modal_crear_usuario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Crear usuario</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="x_panel">
                        <div class="x_content" id="contenido">
                            <form asp-action="Post" asp-antiforgery="true" id="formulario_nueva_persona"
                                enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2" for="nombre">Nombre<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="nombre" name="nombre" class="form-control"
                                                    placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2" for="apellido">Apellido<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="apellido" name="apellido" placeholder=""
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2" for="ci">CI
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="ci" name="ci" class="form-control">
                                                <span class="text-danger">@ViewData["Error"]</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2" for="email">Email
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="email" name="email" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2" for="celular">Celular <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="celular" name="celular" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2" for="contraseña">Contraseña
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="contraseña" name="contraseña"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2"
                                                for="contraseña_repetido">Repetir contraseña <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="contraseña_repetido" name="contraseña_repetido"
                                                    class="form-control ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-2 col-sm-2"
                                                for="observaciones">Observaciones <span class="required">*</span>
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" id="observaciones" name="observaciones"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" id="guardar_usuario" data-dismiss="modal">Guardar y
                    usar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
    integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/emodal@1.2.69/dist/eModal.min.js"></script>
<!-- Switchery -->
<script src="~/vendors/switchery/dist/switchery.min.js"></script>
<!-- Extras -->
<script src="~/js/Inscripcion/select.js"></script>
<script src="~/js/Inscripcion/buscarCliente.js"></script>
<script src="~/js/Inscripcion/ModalnuevaPersona/create.js"></script>
<script src="~/js/Inscripcion/ModalnuevaPersona/store.js"></script>
<script src="~/js/Inscripcion/store.js"></script>
}